
/* Zoom x1.1 - x1.75 */
@media(max-width: 1980px) {
  .logo {
    width: 800px 
  }
}
@media(max-width: 1680px) { 
  .logo {
    width: 700px;
  }
}
@media(max-width: 1280px) {
  .logo {
    width: 420px;
  }
}


/* Ipad Pro - tablets */
@media(max-width: 1024px) {
  .logo {
    width: 800px;
  }
}
@media(max-width: 780px){
  .flex-contact >* {
    padding: 0 0px;
  }
  .logo {
    width: 600px;
  }
}

@media(max-height: 760px) {
  .logo {
    width: 600px;
  }
}
@media(max-height: 640px) {
  .logo {
    width: 400px;
  }
}
@media(max-height: 520px) {
  .logo {
    width: 300px;
  }
}


@media(max-width: 823px) and (max-height: 540px) {
  .flex-contact {
    margin: 10px 0;
  }
  h2 {
    font-size:  18px;
  }
  p {
    font-size: 16px;
  }
  .logo {
    width: 260px;
    margin: 8px 0;
  }
  .btn {
    padding: 0;
  }
  .button {
    padding: 8px 12px 6px 12px;
    font-size: 14px;
  }
  .flex-social {
    margin: 4px 0 6px 0;
    font-size: 14px;;
  }
}

@media(max-width: 620px) {
  .logo {
    width: 250px;
  }
}

/* Mobile  */
@media(max-width: 530px) {
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
@media(max-width: 415px) {
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  .logo {
    width: 500px;
  }
  .container {
    padding: 0px 20px;
  }
}
@media(max-width: 360px) {
   p {
    font-size: 10px;
  }
  .logo {
    width: 380px;
  }
  .container {
    padding: 0px 12px;
  }
  .flex-contact {
    margin: 12px 0;
  }
}





@media(max-height: 280px) {
  .logo {
    width: 200px;
  }
  .flex-social {
    font-size: 12px;
  }
  .button {
    padding: 6px 10px 4px 10px;
    font-size: 10px
  }
}




